<div class="text-center container">
  <% if current_user.provider %>
    <br>
    <br>
    <h3><%= current_user.provider %>でログイン中</h3>
    <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？\nあなたが書いたプロット、レビュー、コメントは二度と復元できません！" }, method: :delete, class: "btn btn-danger" %></p>
  <% else %>
    <h2>パスワード・Eメール変更 </h2>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>


      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
      </div>
      <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>現在右記のメールアドレスへの変更を確認中です: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(変更したくない場合は何も記述しないでください)</i><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> 文字以上</em>
        <% end %>
      </div>
      <br>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
      </div>
      <br>
      <div class="field">
        <%= f.label :current_password %> <i>(変更権限確認用)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
      </div>
      <br>
      <br>
      <div class="actions">
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>
    <% end %>

    <div class="text-right">
      <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？\nあなたが書いたプロット、レビュー、コメントは二度と復元できません！" }, method: :delete, class: "btn btn-danger" %></p>
    </div>
  <% end %>
  <%= link_to "戻る", root_path, class: "btn btn-primary"%>

</div>
