<br>
<div class="container">
  <script>
    REGISTRY = { prot_id: "<%= @prot.id %>" }
  </script>
  <h3><%= @prot.title %></h3>
  <%= link_to "add Root", prot_nodes_path(@prot, @prot.nodes.new), method: :POST, class: "btn btn-outline-success" if @prot.nodes.length.zero? %>
    <hr>
    <br>
  <div class="row">

        <div class="col-6">
          <button type="button" id="make_node" class="btn btn-success">create</button>
          <button type="button" id="rename_node" class="btn btn-warning">rename</button>
          <button type="button" id="delete_node" class="btn btn-danger">delete</button>
          <button type="button" id="edit_node" class="btn btn-info">edit</button>
          <button type="button" id="view_node" class="btn btn-info" style="display: none;">show</button>
          <br>
          <br>

          <div id="jstree_nodes"></div>
          <br>
        </div>

        <div class="col-6">
          <!-- 本文の閲覧 -->
          <div id="show_node" class="box11" style="word-wrap: break-word; white-space: pre-wrap; min-height: 50px;"></div>
          <!-- 本文の編集 -->
          <div id="edit_form" style="display: none;">
            <!-- jsTreeからその都度ノードデータをフォームのバリューに与えたあげられれば完成 -->
            <% if @node %>
              <%= form_with(model: @node, local: true, url: prot_node_path(@node.id, @prot.id)) do |f| %>
                <% if @node.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@node.errors.count, "error") %> 件のエラーがあります</h2>

                    <ul>
                    <% @node.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="actions">
                  <%= f.submit class: "btn btn-outline-primary", value: "save"%>
                </div>
                <br>

                <div class="id_field">
                  <%= f.hidden_field :id %>
                </div>

                <div class="body_field">
                  <%= f.text_area :body, cols: 70, rows: 30, class: "form-control" %>
                </div>

                <% end %>
                <br>
              <% end %>
          </div>
        </div>

  </div>
</div>
