<div class="container">
  <div class="halfCircleBottom text-light text-center">
    <%= link_to "プロフィール編集", mypage_edit_path, class:"text-light" %>　/　
    <%= link_to "プロフィール確認", user_path(current_user), class:"text-light"%>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <h4><%= current_user.name %></h4>
        <h2><%= current_user.nick_name %></h2>
        <% if current_user.provider.nil? %>
          <p>email: <%= current_user.email %></p>
        <% else %>
          <p>by <%= current_user.provider %></p>
        <% end %>

        <br>
      </div>
      <div class="col-lg-6">
        <% if current_user.icon.blank? %>
          <%= image_tag("f_f_object_115_s512_f_object_115_0bg.png", height: 100, width: 100, style: "border-radius: 50%;" ) %>
        <% else %>
          <%= image_tag current_user.icon.url, height: 100, width: 100, style: "border-radius: 50%;" %>
        <% end %>
        <br>
        <%= fa_icon "star" %> <%= current_user.taking_stars.length %>
      </div>
    </div>
  </div>

  <br>
  <div class="circle text-light text-center">
    <br>
    <h5>プロット一覧</h5>
    <hr>
    <br>
    <div class="container">
      <div class="row">
        <% @prots.each do |prot| %>
          <div class="col-lg-3 col-sm-12 col-md-6">
            <%= fa_icon "lock" if prot.private %>
            <%= fa_icon "comments" if prot.accepts_review %><br>

            <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <%= link_to prot.title, prot ,class: "text-secondary" %>
                <div class="text-right text-dark">
                  <%= fa_icon "heart" %> <%= prot.hearts.length %>
                </div>
              </div>
              <div class="card-body">
                  <%= link_to "概要編集", edit_prot_path(prot), class: "btn btn-success" %>
                  <%= link_to "内容編集", prot_nodes_path(prot), class: "btn btn-info" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= paginate @prots, param_name: :page_1 %>
    </div>
  </div>
  <br>
  <% if current_user.reviews.present? %>
  <div class="circle text-light text-center">
  <br>
    <h5>レビュー一覧</h5>
    <hr>
    <div class="container">
      <div class="row">
        <% @reviews.each do |review| %>
          <div class="col-lg-3 col-sm-12 col-md-6">
            <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <%= link_to review.title, prot_review_path(review.prot_id, review) ,class: "text-secondary" %>
                <div class="text-dark text-right">
                  <%= fa_icon "thumbs-up" %> <%= review.goods.length %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= paginate @reviews, param_name: :page_2 %>
    </div>
  </div>
  <% end %>
</div>
