<h1><%= current_user.name %></h1>
<h2><%= current_user.nick_name %></h2>
<p>email: <%= current_user.email %></p>

<br>
<br>
<h2>Your Prots!</h2>
<br>
<div class="row">
  <% current_user.prots.each do |prot| %>
    <div class="col-3">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= link_to prot.title, prot ,class: "text-light" %></div>
        <div class="card-body">
          <p class="card-text"><%= prot.content%></p>
          <div class="row">
            <div class="col-6"><%= link_to "Edit Node", prot_nodes_path(prot), class: "btn btn-info" %></div>
            <div class="col-6"><%= link_to "Edit Prot", edit_prot_path(prot), class: "btn btn-success" %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
