
  <div class="halfCircleBottom text-light text-center">
    <br>
    <div class="row">
      <div class="col-12">
        <% if @user.icon.blank? %>
          <%= image_tag("gorilla.jpg", height: 100, width: 100, style: "border-radius: 50%;" ) %>
        <% else %>
          <%= image_tag @user.icon.url, height: 100, width: 100, style: "border-radius: 50%;" %>
        <% end %>
        <h2><%= @user.nick_name %></h2>
        <br>
      </div>
    </div>
    <br>
    <div class="col-12">
      <%= @user.profile if @user.profile.present? %>
    </div>
    <br>
  </div>

  <br>
  <div class="circle text-light text-center">
    <br>
    <h3>プロット一覧</h3>

    <hr>
    <br>
    <div class="row">
      <% @user.prots.each do |prot| %>
        <% if prot.private == false %>
          <div class="col-lg-3 col-sm-12 col-md-6">
            <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header"><%= link_to prot.title, prot ,class: "text-secondary" %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
    <% if @user.reviews.present? %>
      <div class="circle text-light text-center">
      <br>
        <h3>レビュー一覧</h3>
        <hr>
        <div class="container">
          <div class="row">
            <% @user.reviews.each do |review| %>
              <div class="col-lg-3 col-sm-12 col-md-6">
                <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header"><%= link_to review.title, prot_review_path(review.prot_id, review) ,class: "text-secondary" %></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
