<div class="jumbotron">
  <h1><%= current_user.name %></h1>
  <h2><%= current_user.nick_name %></h2>
  <p>email: <%= current_user.email %></p>

  <br>
  <br>
  <h3>プロット一覧</h3>
  <hr>
  <br>
  <div class="row">
    <% current_user.prots.each do |prot| %>
      <div class="col-lg-3 col-sm-12 col-md-6">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header"><%= link_to prot.title, prot ,class: "text-light" %></div>
          <div class="card-body">
            <p class="card-text"><%= prot.content%></p>
              <%= link_to "Edit Prot", edit_prot_path(prot), class: "btn btn-success" %>
              <%= link_to "Edit Node", prot_nodes_path(prot), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <h3>レビュー一覧</h3>
  <hr>

</div>
