<div class="container">
  <div class="halfCircleBottom text-light text-center">
    <br>
    <div class="row">
      <div class="col-3" id="star_form_<%= @user.id %>">
        <%= render 'star_form', user: @user %>
      </div>
      <div class="col-6">
        <% if @user.icon.blank? %>
          <%= image_tag("f_f_object_115_s512_f_object_115_0bg.png", height: 100, width: 100, style: "border-radius: 50%;" ) %>
        <% else %>
          <%= image_tag @user.icon.url, height: 100, width: 100, style: "border-radius: 50%;" %>
        <% end %>
        <h2><%= @user.nick_name %></h2>
        <br>
      </div>

      <div class="col-3" id="star_counter_<%= @user.id%>">
        <%= render 'star_counter', user: @user %>
      </div>
    </div>
    <br>
    <div class="col-12">
      <%= @user.profile if @user.profile.present? %>
    </div>
    <br>
  </div>

  <br>
  <div class="circle text-light text-center">
    <br>
    <h5>プロット一覧</h5>

    <hr>
    <br>
    <div class="container">
      <div class="row">
        <% @prots.each do |prot| %>
          <% if prot.private == false %>
            <div class="col-lg-3 col-sm-12 col-md-6">
              <%= fa_icon "comments" if prot.accepts_review %><br>
              <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><%= link_to prot.title, prot ,class: "text-secondary" %><br>
                  <div class="text-dark text-right">
                    <%= fa_icon "heart" %> <%= prot.hearts.length %></div>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= paginate @prots, param_name: :page_1 %>
    </div>
  </div>
  <br>
    <% if @user.reviews.present? %>
      <div class="circle text-light text-center">
      <br>
        <h5>レビュー一覧</h5>
        <hr>
        <div class="container">
          <div class="row">
            <% @reviews.each do |review| %>
              <div class="col-lg-3 col-sm-12 col-md-6">
                <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">
                    <%= link_to review.title, prot_review_path(review.prot_id, review) ,class: "text-secondary" %>
                      <div class="text-dark text-right">
                        <%= fa_icon "thumbs-up" %> <%= review.goods.length %>
                      </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="container">
          <%= paginate @reviews, param_name: :page_2 %>
        </div>
      </div>
    <% end %>
</div>
