<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top headerArea" id="top-navbar2" style="display: none;">
  <div class="container">
    <%= link_to "ProtWorks", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navboar-right" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top headerArea2">
  <div class="container">
    <%= link_to "ProtWorks", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navboar-right" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div id="top-box">
  <div class="container-fluid" id="top-image">
    <h1>ProtWorks</h1><br>
    <p>be professional for plot</p><br>
    <h5>すべての人を物語るプロフェッショナルに</h5>
  </div>
</div>

<section class="page-section">
  <div class="container">
    <div class="offset-1">
      <h5>
        ProtWorksはあなたの「表現する力」を成長させるプラットフォームです。
      </h5>
      <br>
      <p>あなたが誰かに伝えたい思い</p>

      <p>
        気持ち・感動・夢・わくわくする企み
      </p>
      <p>
      そのまま表現できるようになりたくありませんか？
      </p>
      <br>
    </div>
  </div>
</section>

<section class="page-section bg-secondary text-light">
  <div class="container">
    <h6>伝える力</h6>
    <p>
      文章・プレゼン・演説・ブログ
    </p>
    <br>
    <h6>物語る力</h6>
    <p>
    映画・ドラマ・演劇・小説・漫画・アニメ・あらゆる脚本
    </p>
  </div>
</section>
<br>
<br>
<p>
  皆んなと一緒に力を伸ばしましょう。
</p>

<p>まずは思いのままプロットを作成してみましょう！</p>


<br><br><br>
<div class="text-center">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success" %>
  <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline-info" %>
  <br>
  <br>
  <%= link_to "ProtWorksで出来ること", about_path %>
</div>

<br><br><br><br>
