<%= form_with(model: review, local: true) do |f| %>
  <% if reivew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %>件のエラーがあります</h2>

      <ul>
      <% reivew.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
