<%= form_with(model: prot, local: true) do |f| %>
  <% if prot.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(prot.errors.count, "件のエラー") %>があります</h2>

      <ul>
      <% prot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content,rows: 15, class: "form-control" %>
  </div>
  <br>

  <div class="row">
    <div class="col-2">
      ジャンル名：
      <br>
      <br>
      <button type="button" id="add_genre_form" class="btn btn-info">フォーム追加</button>
    </div>
    <div id="field_genre_form" class="col-4">
      <%= f.fields_for :genres do |ff| %>
        <div class="genre_form">
          <%= ff.text_field :name %>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  現在のジャンル：
  <% prot.genres.each do |genre| %>
    <%= link_to genre.name, prot_path(genre_id: genre.id), method: :delete, data: { confirm: "ジャンルを削除します。\n編集中の項目を先に保存してください。"} if genre.id.present? %>
  <% end %>
  <br>
  <br>

  <div class="row">
    <div class="col-2">
      公開メディア名：
      <br>
      <br>
      <button type="button" id="add_media_form" class="btn btn-info">フォーム追加</button>
    </div>
    <div id="field_media_form" class="col-4">
      <%= f.fields_for :media_types do |ff| %>
        <div class="media_form">
          <%= ff.text_field :name %>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  現在の公開メディア：
  <% prot.media_types.each do |media_type| %>
    <%= link_to media_type.name, prot_path(media_type_id: media_type.id), method: :delete, data: { confirm: "想定メディアを削除します。\n編集中の項目を先に保存してください。"} if media_type.id.present? %>
  <% end %>
  <br>
  <br>

  <div class="row">
    <div class="field col-6">
      <%= f.label :private %><br>
      <%= f.check_box :private, checked_value: true, unchecked_value: false, class: "form-control" %>
    </div>

    <div class="field col-6">
      <%= f.label :accepts_review %><br>
      <%= f.check_box :accepts_review, checked_value: true, unchecked_value: false, class: "form-control" %>
    </div>
  </div>
  <br>

  <div class="actions text-center">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<br><br>
