<div class="box2">
  <br>
  <h3><%= @prot.title %></h3>
  <br>
  <% unless @prot.content.blank? %>
    <h6>説明：</h6>
    <p><%= @prot.content %></p>
  <% end %>
    <hr>
  <% if @prot.user_id == current_user.id %>
    <p>private: <%= @prot.private %></p>
    <p>reveiw: <%= @prot.accepts_review %></p>
    <hr>
  <% end %>
  <%= link_to "Node閲覧", preview_nodes_path(prot_id: @prot.id), class: "btn btn-secondary" %>
  <%= link_to "Node編集", prot_nodes_path(@prot), class: "btn btn-success" if @prot.user_id == current_user.id %>
  <br><br>
  <% if @prot.user_id == current_user.id %>
    <div class="text-right">
      <%= link_to "プロット削除", prot_path(@prot), method: :delete, class: "btn btn-danger", data: { confirm: "よろしいですか？"} %>
    </div>
  <% end %>
</div>

<br>
<%= link_to "レビューを書く", new_prot_review_path(@prot), class: "btn btn-success" if @prot.user_id != current_user.id && @prot.accepts_review == true %>

<% if @prot.reviews.present? %>
  <div class="box2">
    <br>
    <h2>review一覧</h2>
    <hr>
    <div class="row">
      <% @prot.reviews.each do |review| %>
        <div class="col-3">
          <%= review.user.nick_name %>
          <div class="card text-white border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header"><%= link_to review.title, prot_review_path(@prot, review),class: "text-secondary" %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
