<h1><%= @prot.title %></h1>
<br>
<h3>紹介：</h3>
<p><%= @prot.content %></p>
<hr>
<p>private: <%= @prot.private %></p>
<p>reveiw: <%= @prot.accepts_review %></p>
<hr>
<h3><%= link_to "Node編集", prot_nodes_path(@prot) %></h3>
<h3><%= link_to "Node閲覧", prot_node_path(@prot) %></h3>
<hr>
<h2>review一覧</h2>
